.contact {
  margin: 2.5vw 0px;
  padding: 10px;

  justify-self: center;
  display: grid;

  width: 50vw;
  height: 50vh;
  grid-template-columns: 23vw 4vw 23vw;
  grid-template-rows: 100%;
  gap: 25px;

  background-color: green;
}

.info
{
    color: white;
    display: grid;
    grid-template-rows: max-content max-content max-content max-content max-content;
}

.info p {
    font-size: 1.25rem;
    margin-bottom: 4vh;
}

.info h3 {
    font-size: 1.5rem;
}

.info a {
    margin-bottom: 5%;
}

.resume {
    align-self: center;
}

.resume img {
    border-radius: 1vw;
    width: 16vw;
    aspect-ratio: 8/11;
}

.border_line {
    width: 1px;
    height: 20vw;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
}