.work-container
{
  display: grid;

  width: 100%;
  height: 30vh;

  grid-template-columns: auto max-content;
  grid-template-rows: 100%;

  position: relative;

  border: 2px rgba(0, 0, 0, .5) ridge;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.25);
}

.work-container img
{
  position: relative;
  height: 27vh;
  aspect-ratio: 1/1;

  margin: auto 1.5vh;

  border: 2px black ridge;
  border-radius: 2.5%;
  
  overflow: hidden;
  object-fit: cover;

}

.work-container div
{
  display: grid;
  grid-template-rows: min-content auto min-content;

  height: 90%;
  margin-left: 2.5%;
  justify-self: left;
  align-self: center;
}

.work-container h3
{
  color: white;
  font-size: 2rem;
  margin-bottom: 1vh;

  width: 90%;
}

.work-container p
{
  width: 90%;
  color: white;
  font-size: 1rem;
}

.work-container a
{
  color: var(--accent2);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;

  margin-left: auto;
  float: bottom;

  width: fit-content;

  transition: .2s;
}

.work-container a:hover
{
  color: color-mix(in oklab, var(--accent2) 50%, #000000 50%);
}

@media (max-width: 1600px) {
  .work-container
  {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    height: auto;
  }

  .work-container img
  {
    width: 40vw;
    height: auto;
    aspect-ratio: 1/1;

    margin: 1.5vh auto;
  }

  .work-container div
  {
    margin: 2vh auto;
    justify-self: center;
    align-items: center;
    text-align: center;
  }

  .work-container h3
  {
    width: 100%;
    font-size: 4vh;
    margin: 0;
  }
  .work-container p
  {
    width: 90%;
    font-size: 2vh;
    justify-self: center;
    text-align: left;
  }

  .work-container div a
  {
    margin: 1vh auto 0vh auto;
  }

  .work-container a
  {
    font-size: 2rem;
  }

}